{% extends "base.html" %}
{% block title %} Book An Appointment/Contact Form {% endblock %}
{% block visit-us-active %}active{% endblock  %}
{% block content %}

<div class="container-fluid py-4 text-start ms-xl-5 ms-2">
    <h2 class="display4">Contact form</h2>
    <p class="lead">Please fill out the form below and a staff member will be in touch within 2 business days to book an appointment for you.</p>
</div>

{% if form.is_valid %}
    <div class="py-5 text-center">
        <h2>Form submitted</h2>
        <p class="lead">Thank you for your interest in Pet Friends Forever. We will get in touch with you shortly!</p>
        <!-- PV: Maybe some links to browse the pets or how to adopt page -->
    </div>
{% else %}
        


<div>
    <form method="POST">
        {% csrf_token %}
        <div class="container ">
            <!-- Name and Phone -->
            <div class="row row-cols-2 justify-content-md-start">
                <!-- First Name -->
                <div class="col-md-4 mb-3">
                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                    <input name="{{ form.first_name.html_name }}" type="text" class="form-control" id="{{ form.first_name.id_for_label }}" placeholder="First Name">
                    <div id="first_name_help" class="form-text">{{ form.first_name.help_text }}</div>

                    {% for error in form.first_name.errors %}
                        <div class="form-error text-danger">{{error}}</div>
                    {% endfor %}
                </div>
                <!-- Last Name -->
                <div class="col-md-4 mb-3">
                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                    <input name="{{ form.last_name.html_name }}" type="text" class="form-control" id="{{ form.last_name.id_for_label }}" placeholder="Last Name">
                    <div id="last_name_help" class="form-text">{{ form.last_name.help_text }}</div>

                    {% for error in form.last_name.errors %}
                        <div class="form-error text-danger">{{error}}</div>
                    {% endfor %}
                </div>
                <!-- Phone -->
                <div class="col-md-6 mb-3">
                    <label for="{{ form.phone.id_for_label }}">Phone Number</label>
                    <input name="{{ form.phone.html_name }}" type="text" class="form-control" id="{{ form.phone.id_for_label }}" placeholder="Phone Number">
                    <div id="phone_help" class="form-text">{{ form.phone.help_text }}</div>

                    {% for error in form.phone.errors %}
                        <div class="form-error text-danger">{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            <!-- Email -->
            <div class="row justify-content-md-start">
                <div class="col-md-6 mb-3">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email address</label>
                    <input name="{{ form.email.html_name }}" type="email" class="form-control" id="{{ form.email.id_for_label }}" placeholder="john.doe@gmail.com">
                    <div id="emailHelp" class="form-text">{{ form.email.help_text }}</div>

                    {% for error in form.email.errors %}
                        <div class="form-error text-danger">{{error}}</div>
                    {% endfor %}
                    
                </div>
            </div>
            <!-- Interested species -->
            <div class="row justify-content-md-start">
                <div class="col-2 mb-3">              
                    <label for="{{ form.interested_species.html_name }}" class="form-label">Interested species</label>
                    <select name="{{ form.interested_species.html_name }}" class="form-select" id="{{ form.interested_species.html_name }}">
                        {% for value, label in form.interested_species.field.choices %}
                            <option value="{{value}}">{{label}}</option>
                        {% endfor %}
                    </select>
                </div>      
        </div>
          


            <!-- Non field errors -->
            <div class="container mb-3">
                {% for error in form.non_field_errors %}
                    <div class="form-error">{{error}}</div>
                {% endfor %}
            </div>

            <!-- Submit Contact Form -->
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
