{% extends "base.html" %}
{% block title %} Adoptable Pets {% endblock title %}
{% block adoptable-pets-active %}active{% endblock  %}
{% block content %}
<h1> All Available Pets </h1>

<!-- PV - Use include here so that we have only one entry -->
<div class = container>
    <a class="btn btn-primary" href="{% url 'filtered_pet_list' 'dog'%}" role="button">Dogs</a>
    <a class="btn btn-warning" href="{% url 'filtered_pet_list' 'cat'%}" role="button">Cats</a>
    <a class="btn btn-danger" href="{% url 'filtered_pet_list' 'bird'%}" role="button">Birds</a>

</div>



{% if pet_list %}
<ul>
    {% for pet in pet_list %}
    <!--PV: Put the below in a separate html and use include -->
    {% if pet.pet_photos.first and pet.pet_photos.first.image.url %}
    <img src="{{ pet.pet_photos.first.image.url}}" alt="{{ pet.pet_photos.first.alternate_text}} width="1000" height="200"">
    {% endif %}

    <li><a href="{% url 'pet_details' pet.pk %}"> {{ pet }} </a></li>
    {% endfor %}
</ul>
{% else %}
<p>No pets!</p>
{% endif %}
{% endblock %}








