{% extends "base.html" %}
{% block title %} Adoptable Pets {% endblock title %}
{% block adoptable-pets-active %}active{% endblock  %}
{% block content %}
<h1> All Available Pets </h1>

<!-- PV - Use include here so that we have only one entry -->
<div class = container>
    <button type="button" class="btn btn-primary">Dog</button>
    <a class="btn btn-primary" href="#" role="button">DOG</a>

    <button type="button" class="btn btn-secondary">Cat</button>
    <button type="button" class="btn btn-success">Bird</button>

</div>

{% if pet_list %}
<ul>
    {% for pet in pet_list %}
    <!--Put the below in a separate html and use include -->
    <li><a href="{% url 'pet_details' pet.pk %}"> {{ pet }} </a></li>
    {% endfor %}
</ul>
{% else %}
<p>No pets!</p>
{% endif %}
{% endblock %}








