{% extends "base.html" %}
{% block title %} Contact Us {% endblock %}
{% block contact-us-active %}active{% endblock  %}
{% block content %}

<div class="d-flex flex-column mb-3 ms-5 w-75">
  <!-- How to Adopt -->
  <div class="container mt-5" >
    <h1 class="display-7 text-success">How to Adopt</h1>
  </div>
  <!-- Accordion steps -->
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <div class="lead">Step 1: See adoptable pets</div>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body lead">All of our pet friends are available for viewing online. Please read the detailed description to determine if it is a fit for your lifestyle.</div>
        <div class="container">    
            <a class="btn btn-warning align-self-start mb-3" role="button" href="{% url "pet_list" %}">See All Adoptable Pets</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <div class="lead">Step 2: Visit the Pets</div> 
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body lead">Click the below buttons to either fill the contact form for booking an appointment or check walk-in information. Scheduled appointments will be given priority over walk-ins. We serve on a first come first adopt basis.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <div class="lead">Step 3: Prepare</div> 
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body lead">We try to help adopters to be the best pet owner through conversation, education and post adoption support. 
          We encourage you to research on the care of the species you are considering adopting and the expense of owning them. 
          Also, please see the fee structure below to get an idea of the cost of adoption.</div>
      </div>
    </div>
  </div>
  <!-- Fill form to book appointment and Walk-In buttons-->
  <div class="d-xl-flex w-50 align-items-center justify-content-between fs-4 text-center mt-3 mb-5 gap-5">
      {% include "fill_form_walk_in_buttons.html" %}
  </div>

  <!-- Fees -->
  <div class="container mt-3" >
    <h1 class="display-7 text-success">Adoption Fees</h1>
  </div>
  <!-- Fee Structure -->
  <div class="accordion accordion-flush" id="accordionFlushFees">
    {% include "list_individual_pet_fees.html" with pet_fees=dog_fees %}
    {% include "list_individual_pet_fees.html" with pet_fees=cat_fees %}
    {% include "list_individual_pet_fees.html" with pet_fees=bird_fees %}
  </div>
</div>

{% endblock %}
