<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        Pet Friends Forever
        {% endblock  %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'pets/css/style.css' %}">
  </head>


  <body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"> 
                <img src="{% static 'pets/images/pff_logo.png' %}" alt="PFF_Logo" width="75" height="75" class="me-2">
                <div class="d-flex flex-column lh-1">
                  <span class="fw-bold text-success" >Pet</span>
                  <span class="fw-bold text-warning" >Friends</span>
                  <span class="fw-bold text-success">Forever</span> 
                </div>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-4">
                  

                  <li class="nav-item px-2">
                    <a class="nav-link {% block adoptable-pets-active %}{% endblock  %}" href="{% url "pet_list" %}">Adoptable Pets</a>
                  </li>


                  <li class="nav-item dropdown px-2" data-bs-theme="dark">
                    <a class="nav-link dropdown-toggle {% block visit-us-active %}{% endblock  %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Visit Us
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url "create_person" %}">Book Appointment</a></li>
                      <li><a class="dropdown-item" href="{% url "contact_us" %}">Walk In</a></li>
                    </ul>
                  </li>

                  <li class="nav-item px-2">
                    <a class="nav-link {% block how-to-adopt-active %}{% endblock  %}" aria-current="page" href="{% url "how_to_adopt" %}">How to Adopt</a>
                  </li>
                  
                  <li class="nav-item px-2">
                    <a class="nav-link {% block contact-active %}{% endblock  %}" aria-current="page" href="{% url "contact_us" %}">Contact Us</a>
                  </li>
                  
                  <!--PV: If user is staff -->
                  {% if user.is_authenticated %}
                  <li class="nav-item dropdown px-2">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                      <li>
                        <form method="post" action="{% url 'logout' %}" style="margin: 0; padding: 0;">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                      </li>
                    </ul>
                  </li>
                  {% endif %}

                </ul>
                <form class="d-flex" role="search" method="GET" action="{% url "search" "q" %}">
                  <input name="q" class="form-control me-2" type="search" placeholder="Search Pet by Name" aria-label="Search">
                  <button class="btn btn-warning" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    

    </header>


    {% block content %}
      <!-- Override this -->
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>