{% extends "base.html" %}
{% block title %} Contact form Success {% endblock title %}
{% block visit-us-active %}active{% endblock  %}
{% block content %}


<div class="d-flex flex-column m-5">
    <h1 class="display-8 text-secondary">
        Contact form submitted
    </h1>
    <p class="lead">Thank you for your interest in Pet Friends Forever. 
        Your appointment has been booked. 
        If you wish to reschedule or cancel the appointment, please contact us via phone or email and we will be happy to help.</p>
    <p class="lead">IMPORTANT NOTE: Please carry a valid ID Proof along to your appointment. Verification is required before starting the adoption process.</p>
</div>
{% endblock %}
