<!-- Pet Adoption Status -->
<label for="{{ form.adoption_status.id_for_label }}" class="form-label">Adoption Status</label>
<select name="{{ form.adoption_status.html_name }}" class="form-select" id="{{ form.adoption_status.id_for_label }}">
    {% for value, label in form.adoption_status.field.choices %}
        <option value="{{ value }}" {% if value == form.adoption_status.value %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
</select>
{% for error in form.adoption_status.errors %}
    <div class="form-error text-danger">{{error}}</div>
{% endfor %} 

