{% extends "base.html" %}
{% block title %} Contact Us {% endblock title %}
{% block contact-us-active %}active{% endblock  %}
{% block content %}

<!-- PV: Can all this info go in a context? -->

<div class="row m-5">
    <div class="col-12 col-md-6 gx-4 mb-4">
      <h1 class="display-7 text-success ms-2"> Contact Information </h1>
      <ul class="list-group list-group-flush w-75">
          <li class="list-group-item lead">Phone: {{contact.phone}}</li>
          <li class="list-group-item lead">Email: {{contact.email}}</li>
          <li class="list-group-item lead">Location: {{contact.address}}</li>
      </ul>
      <div class="container w-75 ms-0">
      <h1 class="display-7 text-warning mt-4"> Hours of Operation</h1>
      <table class="table">
        <tbody>
          {% for operating_hours in hours_of_operation %}
          <tr class="lead">
            <th scope="row" class="text-dark">{{operating_hours.get_day_name}}</th>
            <td>{{operating_hours.start_time}} to {{operating_hours.end_time}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>


    <div class="col-12 col-md-6 mb-4">
      <h1 class="display-7 text-success"> Walk-In Information </h1>
      <p class="lead">We have only these many slots during the day for a visit. 
        While booking an appointment guarantees that you be seen at the booked slot, walk-ins may have a wait times. Kindly bring a valid ID Proof along during your visit.</p>
      <p class="lead">Our available pets change on a daily basis. 
        If you want have a specific pet in mind, we request you to check if it is available on the day of your visit to avoid disappointment.
      </p>

      <p class="lead">If you'd prefer to book an appointment, please fill the 
        <a href="{% url "create_person" %}"> Contact Form For Booking An Appointment </a>
         and a staff member will be in touch within 1 business day or call us at {{contact.phone}}.
      </p>
    </div>
  </div>
    



  {% endblock %}
