<h2>Available Appointments</h2>
<ul>
  {% if user.is_authenticated %}
    {% for appt in appointments %}
      <li>{{ appt }} — <a href="{% url 'book_appointment' appt.pk %}">Book</a></li>
    {% empty %}
      <li>No available appointments at this time.</li>
    {% endfor %}

  {% else %}
    <p> Please login to book appointments </p>
    {% for appt in appointments %}
    <li>{{ appt }} </li>
    {% empty %}
      <li>No available appointments at this time.</li>
    {% endfor %}

  {% endif %} 

</ul>